.todos{
    background: var(--cor-leite-escuro);
}

@media (min-width: 320px) {
    .todos{
        padding-top: 2rem;
    }
}

@media (min-width: 768px) {
    .todos{
        padding-top: 4rem;
    }
}