.todos__titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.todos__titulo--texto {
    font-weight: 700;
}

@media (min-width: 320px) {
    .todos__titulo--texto {
        font-size: 1.375rem;
        margin-bottom: 1rem;
    }

    .todos__titulo--botao {
        height: 2.5rem;
        margin-bottom: 1rem;
        width: 9.4375rem;
    }
}

@media (min-width: 992px) {
    .todos__titulo--texto {
        font-size: 2rem;
        margin-bottom: 1.4063rem;
    }

    .todos__titulo--botao {
        height: 3.1875rem;
        margin-bottom: 1.4063rem;;
        width: 10.25rem;
    }
}