.adicionar-produto__preco{
    height: 3.5rem;
    margin-bottom: 1rem;
    padding: 0 .75rem;
}

.adicionar-produto__preco::placeholder{
    color: var(--cor-cinza);
}

@media (min-width: 320px) {
    .adicionar-produto__preco {
        width: calc(100% - 1.5rem);
    }
}

@media (min-width: 992px) {
    .adicionar-produto__preco {
        width: calc(34.9375rem - 1.5rem);
    }
}