.cabecalho__pesquisa{
    align-items: center;
    display: flex;
    flex-grow: 1;
}

.cabecalho__pesquisa--campo{
    background: var(--cor-leite);
    border: none;
    border-radius: 1.25rem;
    height: 2.5rem;
    font-size: 14px;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 2.5rem;
    width: 22.6875rem;
}

.cabecalho__pesquisa--campo:focus{
    outline: none;
    border: .0625rem solid var(--cor-azul-escuro);
    box-shadow: 0 0 .3125rem var(--cor-azul-escuro);
    transition-duration: 0.1s;
}

.cabecalho__pesquisa--campo::placeholder{
    color: var(--cor-cinza);
}

.cabecalho__pesquisa--icone{
    color: var(--cor-cinza);
    cursor: text;
    height: 1.0625rem;
    margin-left: -2.5rem;
}