.cabecalho__botao{
    background: none;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    height: 3.1875rem;
    margin-left: 2rem;
    width: 11.375rem;
}

.cabecalho__botao:hover{
    background: #D4E4FA;
    box-shadow: 0 0 .3125rem #2A7AE4;
    transition-duration: 0.1s;
}

.cabecalho__botao:active{
    background: #D4E4FA;
    box-shadow: 0 0 .3125rem #2A7AE4;
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .cabecalho__botao{
        height: 2.5rem;
        width: 10.375rem;
    }
}

@media screen and (max-width: 360px) {
    .cabecalho__botao{
        width: 8.3125rem;
    }
}