.cabecalho-container__pesquisa{
    margin-left: 2rem;
}

.cabecalho-conteiner__pesquisa--campo{
    background: #F5F5F5;
    background-image: url();
    border: none;
    border-radius: 1.25rem;
    height: 2.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 2.5rem;
    width: 24.5625rem;
    transition: 0;
}

.cabecalho-conteiner__pesquisa--campo:focus{
    outline: none;
    border: .0625rem solid #2A7AE4;
    box-shadow: 0 0 .3125rem #2A7AE4;
    transition-duration: 0.1s;
}

.cabecalho-conteiner__pesquisa--campo::placeholder{
    color: #A2A2A2;
}

.cabecalho-conteiner__pesquisa--icone{
    color: #A2A2A2;
    height: 1.0625rem;
    position: relative;
    left: -2.5rem;
}

.pesquisa__campo {
    background: #F5F5F5;
    background-image: url();
    border: none;
    border-radius: 1.25rem;
    height: 2.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 2.5rem;
    width: 24.5625rem;
    transition: 0;
}

.pesquisa__campo:focus {
    outline: none;
    border: .0625rem solid #2A7AE4;
    box-shadow: 0 0 .3125rem #2A7AE4;
    transition-duration: 0.1s;
}

.pesquisa__campo::placeholder {
    color: #A2A2A2;
}