.cabecalho__botao--admin{
    display: none;
}

.cabecalho__botao--login{
    display: none;
}

.home .cabecalho__botao--login{
    display: inline-block;
}

.add-admin .cabecalho__botao--admin{
    display: inline-block;
}

@media (min-width: 320px) {
    .cabecalho__botao{
        font-size: 14px;
        font-weight: 400;
        height: 2.5rem;
        width: 8.3125rem;
    }
}

@media (min-width: 768px) {
    .cabecalho__botao{
        font-size: 14px;
        font-weight: 400;
        height: 2.5rem;
        width: 10.375rem;
    }
}

@media (min-width: 992px) {
    .cabecalho__botao{
        font-size: 16px;
        font-weight: 400;
        height: 3.1875rem;
        width: 11.375rem;
    }
}