.banner{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media (min-width: 320px) {
    .banner{
        height: 12rem;
    }
}

@media (min-width: 768px) {
    .banner{
        height: 22rem;
    }
}