.rodape__navegacao--link {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-decoration: none;
}

.rodape__navegacao--link a {
    text-decoration: none;
}

.rodape__navegacao--link:last-child {
    margin-bottom: 0;
}

.rodape__navegacao--link:hover {
    text-decoration: underline;
}

@media (min-width: 320px) {
    .rodape__navegacao{
        text-align: center;
        margin-bottom: 2rem;
        margin-right: unset;
        max-width: unset;
    }
}

@media (min-width: 768px) {
    .rodape__navegacao{
        text-align: unset;
        margin-bottom: 0;
        margin-right: unset;
        max-width: 15.875rem;
    }
}

@media (min-width: 992px) {
    .rodape__navegacao {
        text-align: unset;
        margin-bottom: 0;
        margin-right: 2rem;
        max-width: unset;
    }
}