.rodape__navegacao {
    margin-right: 7rem;
}

.rodape__navegacao--link {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-decoration: none;
}

.rodape__navegacao--link a {
    text-decoration: none;
}

.rodape__navegacao--link:last-child {
    margin-bottom: 0;
}

.rodape__navegacao--link:hover {
    text-decoration: underline;
}