.adicionar-produtos {
    align-items: center;
    background: var(--cor-leite-escuro);
    display: flex;
    justify-content: center;
}

@media (min-width: 320px) {
    .adicionar-produtos {
        padding: 1rem 0;
    }
}

@media (min-width: 768px) {
    .adicionar-produtos {
        padding: 2rem 0;
    }
}

@media (min-width: 992px) {
    .adicionar-produtos {
        padding: 4rem 0;
    }
}