.background{
    background-image: url("../images/banner-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 22rem;
    margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
    .background{
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 360px) {
    .background{
        height: 12rem;
        margin-bottom: 1rem;
    }
}