.background{
    background-image: url("../images/banner-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 22rem;
    margin-bottom: 4rem;
}