.banner{
    background-image: url("../images/banner-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 37.5667022411953vh;
    margin-bottom: 4rem;
    width: 100vw;
}