.categorias{
    padding: 0 9.5rem 4rem 9.5rem;
}

@media screen and (max-width: 768px) {
    .categorias{
        padding: 0 2rem 2rem 2rem;
    }
}

@media screen and (max-width: 360px) {
    .categorias{
        padding: 0 1rem 0 1rem;
    }
}