.produtos {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 320px) {
    .produtos{
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .produtos{
        flex-wrap: nowrap;
    }
}