.produtos {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 4rem;
}

@media (min-width: 320px) {
    .produtos{
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .produtos{
        flex-wrap: nowrap;
    }
}