.produto__imagem{
    height: auto;
    margin-bottom: .5rem;
}

@media (min-width: 320px) {
    .produto__imagem{
        width: 42vw;
    }
}

@media (min-width: 768px) {
    .produto__imagem{
        width: 100%;
    }
}