.produto {
    display: flex;
    flex-direction: column;
}

@media (min-width: 320px) {
    .produto {
        flex: 47%;
    }

    .produto:nth-last-child(-n+2) {
        display: none;
    }
}

@media (min-width: 768px) {
    .produto {
        flex: 23%;
    }

    .produto:nth-last-child(-n+2) {
        display: none;
    }
}

@media (min-width: 992px) {
    .produto {
        flex: 15%;
    }

    .produto:nth-last-child(-n+2) {
        display: unset;
    }
}