.produto__visualizar{
    color: #2A7AE4;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

.produto__visualizar:hover{
    text-decoration: underline;
}

.produto__visualizar:visited{
    color: #7B61FF;
}