.login__botao {
    margin-bottom: 5.75rem;
}

@media (min-width: 320px) {
    .login__botao {
        height: 2.5rem;
        width: 6.8125rem
    }
}

@media (min-width: 992px) {
    .login__botao {
        height: 3.875rem;
        width: 26.4375rem;
    }
}