.categoria__visualizar{
    color: var(--cor-azul-escuro);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

.categoria__visualizar--icone{
    color: var(--cor-azul-escuro);
    height: 1rem;
    padding-left: 1rem;
    width: 1rem;
}

.categoria__visualizar:hover{
    text-decoration: underline;
}

.categoria__visualizar:visited{
    color: var(--cor-roxo);
}