.categoria__visualizar {
    color: var(--cor-azul-escuro);

    font-weight: 700;
    text-decoration: none;
}

.categoria__visualizar--icone {
    color: var(--cor-azul-escuro);
    padding-left: 1rem;
    width: auto;
}

.categoria__visualizar:hover {
    text-decoration: underline;
}

.categoria__visualizar:visited {
    color: var(--cor-roxo);
}

@media (min-width: 320px) {
    .categoria__visualizar {
        font-size: .875rem;
    }

    .categoria__visualizar--icone {
        height: .6669rem;
    }
}

@media (min-width: 768px) {
    .categoria__visualizar {
        font-size: 1rem;
    }

    .categoria__visualizar--icone {
        height: 1rem;
    }
}